* {
    font-family: 'Poppins', sans-serif;
}

.body-text {
    padding: 0 20px 30px 20px;
    font-family: "Roboto";
    font-size: 1em;
    color: #333;
    text-align: center;
    line-height: 1.2em;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #5100ff;
    margin: 0 auto;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.card-wrapper {
    background-color: #6FB7E9;
    width: 100%;
    display: flex;

}

.personal-information {
    background-color: #3C8DC5;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    font-family: "Roboto"
}

input {
    margin: 1px 0;
    padding-left: 3%;
    font-size: 14px;
}

input[type="text"] {
    display: block;
    height: 50px;
    width: 100%;
    border: blueviolet;
}

input[type="email"] {
    display: block;
    height: 50px;
    width: 100%;
    border: none;
}

input[type="submit"] {
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #3C8DC5;
    color: #fff;
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6FB7E9;
    transition: 0.3s ease;
}

/* #cardExpiry {
    width: 46.5%;
    float: left;
    margin-bottom: 2px;
}
#cardCvv {
    width: 46.5%;
    float: right;
} */

#error #emailOutput #nameOutput {
    color: rgb(0, 0, 0);
    font-size: 0.8em;
}