@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.navbar-light {
    background: #fc00ff;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
}

.carousel-item {
    padding: 20px 40px;
}

#price {
    color: #FF136F;
    font-weight: 500;
    font-size: 41px;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.bg-warning {
    background-image: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
    border-radius: 10px;
}

.bg-primary {
    background-image: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.bg-success {
    background-image: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card img {
    padding: 25px;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    background: #2BC0E4;
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
    background: linear-gradient(to right, #EAECC6, #2BC0E4);
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

section {
    position: relative;
    top: 63px;
}

.subscribe-mail {
    width: 350px;
    height: 50px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 10px;
}

footer {
    padding-top: 60px;
}